<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.example.Sudoku"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name= "android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
     
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name="org.example.Sudoku.Sudoku"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.example.Sudoku.About"
            android:label="@string/about_title"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="org.example.Sudoku.Prefs"
            android:label="@string/setting_title" >
        </activity>
        <activity
            android:name="org.example.Sudoku.Game"
            android:label="@string/game_title" >
        </activity>
         <activity
            android:name="Game6"
            android:label="@string/game_title" >
        </activity>
        <activity android:name="org.example.Sudoku.PuzzleView" >
        </activity>
        <activity android:name="org.example.Sudoku.PuzzleView6" >
        </activity>
        <activity
            android:name="org.example.Sudoku.Keypad"
            android:label="@string/keypad_title" >
        </activity>
        <activity
            android:name="org.example.Sudoku.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
    </application>

</manifest>